## Editor Configuration
/.idea

## System Files
.DS_Store

## NPM
/node_modules/
/npm-debug.log

## Testing
/coverage/

## Temporary Files
/.tmp/

# Build Artifacts
/_site/
/dist/
/build/

storybook-static
custom-elements.json

# Shopify extension build artifacts
extensions/belt-wizard-block/assets/belt-wizard.js
extensions/belt-wizard-block/assets/belt-wizard.js.map
extensions/belt-wizard-block/assets/belt-wizard.css
