@font-face {
  font-family: "Founders Grotesque X Condensed";
  font-weight: bold;
  src: url(./FoundersGroteskXCond-Bold.otf);
}
@font-face {
  font-family: "Founders Grotesque X Condensed Light";
  font-weight: lighter;
  src: url(./FoundersGroteskXCond-Lt.otf);
}
@font-face {
  font-family: "Founders Grotesque Condensed";
  font-weight: lighter;
  src: url(./FoundersGroteskCond-Lt.otf);
}

:root {
  /* Colors */
  --neutral-white: #fff;
  --neutral-lightest: #f2f2f2;
  --neutral-lighter: #dadada;
  --neutral-light: #b6b6b6;
  --neutral: #fff;
  --neutral-dark: #545454;
  --neutral-darker: #242424;
  --neutral-darkest: #0c0c0c;

  --potters-clay-lightest: #f3eeeb;
  --potters-clay-lighter: #e7ded8;
  --potters-clay-light: #ad8e76;
  --potters-clay: #8b5e3c;
  --potters-clay-dark: #6f4b30;
  --potters-clay-darker: #372518;
  --potters-clay-darkest: #291c12;

  --spring-wood-lightest: #fefefd;
  --spring-wood-lighter: #fdfdfc;
  --spring-wood-light: #faf8f4;
  --spring-wood: #f8f5f0;
  --spring-wood-dark: #c6c4c0;
  --spring-wood-darker: #636260;
  --spring-wood-darkest: #4a4948;

  --old-gold-lightest: #faf7eb;
  --old-gold-lighter: #f6efd7;
  --old-gold-light: #e8c773;
  --old-gold: #d4af37;
  --old-gold-dark: #a98c2c;
  --old-gold-darker: #544616;
  --old-gold-darkest: #3f3410;

  /* Backgrounds */
  --belt-wizard-background-color: var(--potters-clay-darkest);

  /* Sizes */
  --radius-large: 16px;
  --radius-medium: 16px;
  --radius-large: 16px;

  /* Shadows */
  --shadow-xxs: 0 1px 2px 0 #0000000D;
  --shadow-xs: 0 1px 2px 0 #0000000F, 0 1px 3px 0 #0000001A;
  --shadow-small: 0 4px 2px -2px #0000000D, 0 4px 8px -2px #0000001A;
  --shadow-medium: 0 4px 6px -2px #00000008, 0 12px 16px -4px #00000014;
  --shadow-large: 0 8px 8px -4px #00000008, 0 20px 24px -4px #00000014;
  --shadow-xl: 0 24px 48px -12px #0000002E;
  --shadow-xxl: 0 32px 64px -12px #00000024;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Founders Grotesque X Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1, .heading-1 {
  font-size: 84px;
}

h2, .heading-2 {
  font-size: 60px;
}

h3, .heading-3 {
  font-size: 48px;
}

h4, .heading-4 {
  font-size: 40px;
}

h5, .heading-5 {
  font-size: 32px;
}

h6, .heading-6 {
  font-size: 26px;
}

.tagline {
  font-size: 16px;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 960px;
}

.row {
  display: flex;
}
.row.wrap {
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap-medium {
  gap: 28px;
}

/* Components */

/* Button */
button.btn, a.btn {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;

  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  background: #B1875A;
  cursor: pointer;

  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
a.btn {
  text-decoration: none;
}

button.btn.primary, a.btn.primary {
  color: var(--neutral-white);
  background-color: #B1875A;
}

button.btn.secondary, a.btn.secondary {
  color: var(--neutral-darkest);
  background-color: #0C0C0C0D;
  box-shadow: 0 1px 2px 0 #0C0C0C0D, inset 0 -2px 1px 0 #0C0C0C0D, inset 0 0 0 1px #0C0C0C0D;
}

button.btn.tertiary, a.btn.tertiary {
  color: var(--neutral-darkest);
  background-color: transparent;
  box-shadow: none;
}

button.btn.tertiary:hover, a.btn.tertiary:hover {
  box-shadow: 0 1px 2px 0 #0C0C0C0D, inset 0 -2px 1px 0 #0C0C0C0D, inset 0 0 0 1px #0C0C0C0D;
}

/* Options */
.option {
  cursor: pointer;
}

.option:not(.text-only):not(.color-chip) label {
  display: flex;
  flex-direction: column;
}

.option.text-only {
  display: inline-block;
  width: 45px;
}

.row.wrap:has(.option.text-only) {
  display: grid;
  grid-template-columns: auto auto auto;
}

.option.text-only:has(input:checked) {
  margin: 0;
  border-width: 4px;
  background: #FFFFFF80;
}

.option.text-only, .option .selection-indicator {
  margin: 3px;
  border: 1px solid var(--neutral-white);
  border-radius: 8px;
  background: #FFFFFF33;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.option.color-chip label {
  align-items: center;
}

.option.color-chip .selection-indicator {
  display: inline-block;
  min-width: 64px;
  width: 64px;
  height: 64px;
}

.option label {
  cursor: pointer;
}

.option.thumbnail:not(.summary) label span.label {
  font-size: 26px;
}

.option:not(.text-only) label span.label {
  margin-block-start: 8px;
  text-align: center;
}

.option.text-only label {
  display: inline-block;
  font-size: 24px;
  padding: 8px 3px;
}

.option:not(.text-only) input:checked + label .selection-indicator {
  padding: 0;
}

.option:not(.text-only) input:checked + label .selection-indicator {
  margin: 0;
  border-width: 4px;
  background: #FFFFFF80;
}

.option .selection-indicator {
  min-width: 128px;
  max-width: calc(50vw - 28px - 16px);
}

.option .selection-indicator.summary {
  min-width: 64px;
  width: 64px;
  height: 64px;
}
