{% comment %}
  Belt Builder App Block
  This block embeds the BeltMaster belt customization wizard into any page
{% endcomment %}

<div class="belt-builder">
  {% render 'belt-wizard-styles' %}
  <belt-wizard
    sizing-chart-src="{{ 'belts/sizing-chart.png' | asset_url }}"
    looped-belt-src="{{ 'belts/looped-belt.png' | asset_url }}"
  ></belt-wizard>
  <div id="scrollToken" style="height: 1px;"></div>
</div>

{{ 'belt-wizard.css' | asset_url | stylesheet_tag }}
<script src="{{ 'belt-wizard.js' | asset_url }}" defer></script>

<style>
  .belt-builder {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #291c12;
    color: #fff;

    /* Force full width by breaking out of container */
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: none;
    box-sizing: border-box;
  }

  belt-wizard {
    flex-grow: 1;
    background-color: #291c12;
  }
</style>

{% schema %}
{
  "name": "Belt Builder",
  "target": "section",
  "tag": "section",
  "class": "belt-builder-section-wrapper",
  "stylesheet": "belt-wizard.css"
}
{% endschema %}
